/*
* Lista Import
*/
/*
* variables
*/
.cont__grid__index {
  display: grid;
  grid-template-areas: "links links links" "content_index content_index content_index" "content_index content_index content_index" "content_index content_index content_index" "foot foot foot";
}

.cont__nav__menu {
  grid-area: links;
}

.cont__body {
  grid-area: content_index;
}

.cont__footer {
  grid-area: foot;
}

/*
* Layout
*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-height: 100%;
}

body {
  justify-content: center;
  overflow-x: hidden;
  min-height: 100%;
  min-width: 100%;
}

main {
  width: 100%;
  min-width: 100%;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.style__navbar__name {
  display: flex;
}
.style__navbar__name__1 {
  color: aqua;
  padding-left: 2px;
  padding-right: 7px;
  text-shadow: 0px 0px 20px #adadad;
}
.style__navbar__name__2 {
  color: #d98b00;
  text-shadow: 0px 0px 20px #adadad;
}

.h {
  color: blue;
  font-size: 50px;
}

.cont__body {
  padding-top: 70px;
}

.modal-dialog {
  max-width: 80%;
}

.portada {
  background-image: url(../assets/portada-charla.JPG);
  width: 100%;
  height: 600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.portada__text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 600px;
}

.acordion {
  background-color: rgb(232, 232, 232);
  margin: 20px;
  box-shadow: 4px -2px 6px 0px gray;
}
.acordion__menu {
  text-decoration: none;
  padding-bottom: 20px;
}
.acordion__submenu {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 20px 0px 5px 0px;
}
.acordion__submenu:hover {
  background-color: gray;
  color: white;
  padding: 20px;
  font-weight: 600;
}

.title__charlas {
  justify-content: center;
  display: flex;
  text-align: center;
  background-color: black;
  padding: 80px;
  color: white;
}

.box {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.box__charla {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.box__charla__text {
  display: flex;
  flex-direction: row;
  width: 50%;
  margin: 10px;
  padding: 30px;
  box-shadow: 4px -7px 13px 0px #cdcdcd;
  background-color: #e4e4e4;
  border-radius: 5px;
}
.box__charla__text__button__sismo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/sismo.JPG);
}
.box__charla__text__button__sismo:hover {
  transform: scale(1.01);
}
.box__charla__text__button__sismo h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__sismo h6 {
  color: white;
}
.box__charla__text__button__sismo h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__text__button__asalto {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/asalto.JPG);
}
.box__charla__text__button__asalto:hover {
  transform: scale(1.01);
}
.box__charla__text__button__asalto h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__asalto h6 {
  color: white;
}
.box__charla__text__button__asalto h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__text__button__ayudaMMC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/ayudaMMC.JPG);
}
.box__charla__text__button__ayudaMMC:hover {
  transform: scale(1.01);
}
.box__charla__text__button__ayudaMMC h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__ayudaMMC h6 {
  color: white;
}
.box__charla__text__button__ayudaMMC h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__text__button__explicacionMMC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/mmc-2.JPG);
}
.box__charla__text__button__explicacionMMC:hover {
  transform: scale(1.01);
}
.box__charla__text__button__explicacionMMC h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__explicacionMMC h6 {
  color: white;
}
.box__charla__text__button__explicacionMMC h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__text__button__epp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/epp.JPG);
}
.box__charla__text__button__epp:hover {
  transform: scale(1.01);
}
.box__charla__text__button__epp h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__epp h6 {
  color: white;
}
.box__charla__text__button__epp h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__text__button__tiposEPP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/tiposEPP.JPG);
}
.box__charla__text__button__tiposEPP:hover {
  transform: scale(1.01);
}
.box__charla__text__button__tiposEPP h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__text__button__tiposEPP h6 {
  color: white;
}
.box__charla__text__button__tiposEPP h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 10px;
  padding: 30px;
  box-shadow: 4px -7px 13px 0px #cdcdcd;
  background-color: #e4e4e4;
  border-radius: 5px;
}
.box__charla__50__text__button__incendio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  padding: 20px;
  background-color: #adadad;
  background-image: url(../assets/incendio.JPG);
}
.box__charla__50__text__button__incendio:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__incendio h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__incendio h6 {
  color: white;
}
.box__charla__50__text__button__incendio h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text__button__mmc {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/mmc.JPG);
}
.box__charla__50__text__button__mmc:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__mmc h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__mmc h6 {
  color: white;
}
.box__charla__50__text__button__mmc h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text__button__extintores {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/extintores.JPG);
}
.box__charla__50__text__button__extintores:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__extintores h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__extintores h6 {
  color: white;
}
.box__charla__50__text__button__extintores h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text__button__lesionesMMC {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/lesionesMMC.JPG);
}
.box__charla__50__text__button__lesionesMMC:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__lesionesMMC h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__lesionesMMC h6 {
  color: white;
}
.box__charla__50__text__button__lesionesMMC h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text__button__responsabilidadEPP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/responsabilidadEPP.JPG);
}
.box__charla__50__text__button__responsabilidadEPP:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__responsabilidadEPP h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__responsabilidadEPP h6 {
  color: white;
}
.box__charla__50__text__button__responsabilidadEPP h6:hover {
  transform: scale(1.01);
  color: blue;
}
.box__charla__50__text__button__cuidadoEPP {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
  background-color: #adadad;
  background-image: url(../assets/cuidadoEPP.JPG);
}
.box__charla__50__text__button__cuidadoEPP:hover {
  transform: scale(1.01);
}
.box__charla__50__text__button__cuidadoEPP h5 {
  display: flex;
  align-items: center;
  color: white;
}
.box__charla__50__text__button__cuidadoEPP h6 {
  color: white;
}
.box__charla__50__text__button__cuidadoEPP h6:hover {
  transform: scale(1.01);
  color: blue;
}

.type__charla__modal {
  background-color: #8d8d8d;
}
.type__charla__modal h1 {
  text-align: center;
  width: 100%;
  font-weight: 800;
  color: white;
}

.type__charla__body {
  padding: 50px;
  display: flex;
  flex-direction: column;
  text-align: justify;
}
.type__charla__body h4 {
  font-weight: 800;
  padding-bottom: 20px;
}
.type__charla__body__img {
  display: flex;
  justify-content: center;
  width: 100%;
}
.type__charla__body__img img {
  width: 300px;
}

.type__charla__body__subtitle {
  color: rgb(22, 22, 58);
  font-weight: 700;
}

/*
* Media Queries
*/
@media (max-width: 700px) {
  .cont__grid__index {
    display: grid;
    grid-template-areas: "links " "content_index " "content_index " "content_index " "foot ";
  }
  .cont__nav__menu {
    grid-area: links;
  }
  .cont__body {
    grid-area: content_index;
  }
  .cont__footer {
    grid-area: foot;
  }
  .box__charla {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .box__charla__text {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    box-shadow: none;
    background-color: #e4e4e4;
    border-radius: 5px;
  }
  .box__charla__50__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 10px 0px 10px 0px;
    padding: 30px;
    box-shadow: none;
    background-color: #e4e4e4;
    border-radius: 5px;
  }
}

/*# sourceMappingURL=main.css.map */
