.cont__grid__index{
    display:grid;
    grid-template-areas: 
    "links links links"
    "content_index content_index content_index"
     "content_index content_index content_index"
          "content_index content_index content_index"
    "foot foot foot"
    ;
}
.cont__nav__menu{
    grid-area: links;
  
}
.cont__body{
    grid-area: content_index;
    
}
.cont__footer{
    grid-area: foot;
    
  
}
